*{
    margin:0;
    padding:0;
}
.main-container
{
    width:80%;
    height:500px;

}
.heading-container
{
    font-family:cursive;
    color:#f5b642 ;
    margin-bottom:10%;

}
.heading-container h1
{
    text-align: start;
    font-size: xxx-large;
    

}
.form-field-container
{
    margin-top:5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:flex-start;
    width:100%;
}
.form-field-container input
{
    width:50%;
    background: transparent;
    border: none;
    border-bottom:5px solid #f5b642 ;
    outline: none;
}
.form-field-container label 
{
    font-family: cursive;
    font-weight: bolder;
    font-size: x-large;
}
.btn-holder
{
    width:60%;
}

#form-btn button{
    width:59%;
    background-color: #f5b642;
    margin-top:4%;
    height:50px;
    border-radius: 15px;
    color:white;
    font-family: cursive;
}
#form-btn
{
    width:60%;
}